@media only screen and (max-width: 600px) {
  .about-intro {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .para-ab {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 600px) {
  .about-intro-img {
    margin-top: 7vh;
    border-radius: 25px;
    margin-left: 10vw;
  }
  .para-ab {
    width: 40vw;
    margin-right: 10vw;
    margin-top: 5vh;
  }
}
.about-intro {
  display: flex;
}
.about-intro-img {
  margin-top: 10px;
  margin-left: 0;
  width: 350px;
}
